#h1I{
    color: red;
}
#span1{
    color: blue;
}
#h2I{
    color: rgb(131, 15, 163);
}
#span2{
    color: rgb(133, 21, 32);
}
#p1{
    color: rgb(78, 191, 161);
}
#h2II{
    color: rgb(131, 15, 163);
}
#span3{
    color: rgb(131, 15, 163);
    font-size: 14px;
}
#span4{
    color: rgb(217, 17, 17);
    font-size: 14px;
}
#span5{
    color: rgb(87, 227, 32);
    font-size: 14px;
}
#p2{
    color: rgb(54, 140, 20);
    font-size: 14px;
}
#p3{
    color: rgb(206, 219, 20);
    font-size: 14px;
}
#span6{
    color: rgb(226, 9, 230);
}
#p4{
    color: rgb(54, 140, 20);
    font-size: 17px;
}
#p5{
    color: rgb(206, 219, 20);
    font-size: 17px;
}
#span7{
    color: rgb(226, 9, 230);
}
